<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Olá, <%= @name %>!<br><br>

    <%= @message %><br><br>

    Atenciosamente
  </body>
</html>
